{% extends 'layout.twig' %}

{% block header %}
{{ parent() }}
<link rel="stylesheet" href="http://localhost/css/registrarOdt.css">

{% endblock %}

{% block contenido %}
<main class="mainRegOdt">
    <div class="contenedor-general">
        <div class="contenedor-diagnostico-evidencia">
            <div class="contenedor-evidencias">
                <img width="100%" src="http://localhost/img/camaraicon.jpg" alt="">
            </div>
            <div class="contenedor-diagnostico-entrada">
                <h2>Dianostico de Entrada</h2>
                <textarea class="comment-textarea" placeholder="Escribe tu comentario aquí..."></textarea>
            </div>
        </div>
        <div class="contenedor-tarea">

        </div>
        <div class="contenedor-responsables">
            <h2>Asignar Responsables</h2>
            <button id="btnAsignarResponsable">Asignar Responsable</button>
            <div class="contenedor-responsables-asignados">
                <ul>
                    <li>Responsable 1</li>
                    <li>Responsable 1</li>
                    <li>Responsable 1</li>
                    <li>Responsable 1</li>


                </ul>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <!-- Estructura del modal con cabecera, cuerpo y pie -->
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal-content">
            <!-- Cabecera del modal -->
            <div class="modal-header">
                <h3>Asignar un responsable</h3>
                <button class="close-btn" id="closeModalBtn">X</button>
            </div>
            <!-- Cuerpo del modal -->
            <div class="modal-body">
                <p>Usuarios disponibles.</p>
                <table class="tUsuarios">
                    <thead>
                        <th>#</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th>Rol</th>
                    </thead>
                    <tbody class="tbodyUsuarios">

                    </tbody>
                </table>
                <!-- Aquí iría un formulario o selección de usuarios -->
            </div>
            <!-- Pie del modal -->
            <div class="modal-footer">
                <button id="btnConfirmarAsignacion">Confirmar</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        function $(object = null) {
            return document.querySelector(object);
        }
        let responsables_asignados_lista = []
        await loadUI()

        async function loadUI() {
            await renderTableUsuarios()
            await renderTareaOdt(window.localStorage.getItem("idodt"))
        }

        //ESTO OBTENDRA LA TAREA CUANDO SE REGISTRA UNA NUEVA ODT
        async function obtenerTareaOdt(idodt) {
            const dataTareaOdt = await fetch(`/transparenciawsrest/consulta/tareaodt/${idodt}`)
            const tareaOdt = dataTareaOdt.json()
            return tareaOdt
        }

        async function obtenerRecursosPorTarea(idtarea) {
            const dataRecursosTareaOdt = await fetch(`/transparenciawsrest/consulta/recursos/tarea/${idtarea}`)
            const recursosTareaOdt = dataRecursosTareaOdt.json()
            return recursosTareaOdt
        }

        async function renderTareaOdt(idodt) {
            const tareaOdt = await obtenerTareaOdt(idodt);
            console.log("tareaOdt", tareaOdt);
            const contenedorTarea = $(".contenedor-tarea");

            tareaOdt.forEach(async (tarea) => {
                const recursosTareaOdt = await obtenerRecursosPorTarea(tarea.idtarea);
                console.log("recursosTareaOdt", recursosTareaOdt);

                // Crear la lista de recursos en formato <li>
                let recursosHTML = '';
                recursosTareaOdt.forEach(recurso => {
                    recursosHTML += `<li>${recurso.nombre}</li>`;
                });

                // Renderizar la tarea junto con los recursos
                contenedorTarea.innerHTML += `
                    <p>${tarea.plantarea}</p>
                    <h2>${tarea.tarea}</h2>
                    <div class="contenedor-detalles-tarea">
                        <p>Activo: ${tarea.activo}</p>
                        <p>Duración: ${tarea.duracion}</p>
                    </div>       
                    <hr>
                    <br>
                    <h2>Recursos</h2>  
                    <div class="contenedor-recursos-tarea">
                        <ul>
                            ${recursosHTML}
                        </ul> 
                    </div>  
                    <div class="contenedor-comentario">
                        <h2>Comentario (opcional)</h2>
                        <textarea class="comment-textarea" placeholder="Escribe tu comentario aquí..."></textarea>
                    </div>                     
                `;
            });
        }

        async function renderTableUsuarios() {
            const tbodyUsuarios = $(".tbodyUsuarios")
            const dataUsuarios = await obtenerUsuarios()
            for (let i = 0; i < dataUsuarios.length; i++) {
                console.log("dataUsuarios: ", dataUsuarios)                
                tbodyUsuarios.innerHTML += `
                <tr>
                    <th scope="row">
                      <input type="checkbox" class="usuario-checkbox" data-usuario-id="${dataUsuarios[i].idusuario}" value="${dataUsuarios[i].idusuario}">
                    </th>
                    <td>${dataUsuarios[i].usuario}</td>                  
                    <td>${dataUsuarios[i].estado}</td>
                    <td>${dataUsuarios[i].rol}</td>                    
                </tr>
                `
            }
        } // TERMINADO

        // ESPACIO PARA CREAR LA ACCION DE ABRIR Y CERRAR MODELO
        const btnAbrirModal = document.getElementById('btnAsignarResponsable');
        const modalOverlay = document.getElementById('modalOverlay');
        const closeModalBtn = document.getElementById('closeModalBtn');
        const btnConfirmar = document.getElementById('btnConfirmarAsignacion');

        // Función para abrir el modal con la animación de fade-in
        btnAbrirModal.addEventListener('click', () => {
            modalOverlay.style.display = 'flex'; // Mostrar el overlay
            setTimeout(() => {
                modalOverlay.classList.add('active'); // Activar la animación de fade y expandir el modal
            }, 10); // Pequeño delay para que la transición funcione
        });

        // Función para cerrar el modal con la animación de fade-out
        closeModalBtn.addEventListener('click', () => {
            modalOverlay.classList.remove('active'); // Eliminar la clase activa
            setTimeout(() => {
                modalOverlay.style.display = 'none'; // Ocultar el overlay completamente después de la animación
            }, 400); // Esperar el tiempo de la transición para ocultar
        });

        // Acción en el botón de Confirmar (solo como ejemplo)
        btnConfirmar.addEventListener('click', () => {
            alert('Responsable asignado');
            modalOverlay.classList.remove('active');
            setTimeout(() => {
                modalOverlay.style.display = 'none';
            }, 400);
        });
        
        async function obtenerUsuarios() {
            const fUsuarios = await fetch(`/transparenciawsrest/consulta/usuarios/data` , {method:'GET'})
            const usuarios = fUsuarios.json()
            return usuarios
        } //TERMINADO

        async function asignarResponsable() {
            const formResponsable = new FormData()
            formResponsable.append("idorden_trabajo", window.localStorage.getItem("idodt"))
            formResponsable.append("idresponsable", "")
            const fresponsableId = await fetch(`/usuarios/responsablesasignados/registrar`, {method:'POST',body:{}})
            const responsableId = fresponsableId.json()
            return responsableId
        } //PENDIENTE
    })
</script>
{% endblock %}
