<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="form-login">
        <div>
          <p>Usuario</p>
          <input type="text" id="usuario">
        </div>
        <div class="">
          <p>Password</p>
          <input type="password" id="passusuario">
        </div>
        <button type="submit" id="access">Access</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../js/login/login.js"></script>
</body>
</html>